.region-west {
  background-color: #111 !important;
}

.region-north,
.hmenu.sm.sm-simple {
  background-color: #090909 !important;
}

.multisplit-tabs-wrapper-bg,
.gtree .sticky-node {
  background-color: #3d3d3d !important;
  padding-left: 41px !important;
}

.multisplit .ms-panel .smoothtabs-tab,
.smoothtabs-clone {
  background-color: transparent !important;
}