/* Wildcards | CSS rules, contains* or start^ with  */

*[id^='id-starts-with'],
*[id*='the-id-contains'],
*[class^='class-starts-with'],
*[class*='the-class-contains'] {
    display: none !important;
}


/* gp.se GöteborgsPosten */

.ad.adform.row.panorama_1.panorama-lead,
*[class^='div#artikel_adform_1'],
.ad.insider {
    display: none !important;
}


/* Dagens Nyheter dn.se */

.ad--article-inline.js-ad-outer-container.ad-outer-container {
    display: none !important;
}


/* TV.nu */

.bg-image-text-overlay.portable-content-hide,
#tvnu-panorama-1,
.palm-switchable__middle.palm-indent-top--tiny.\[.js-recommended.\],
.palm-switchable__bottom.js-home-blog.indent-top--medium.indent-bottom,
.ad-area {
    display: none !important;
}

.page.js-page {
    max-width: 100%;
}


/* Facebook */

div#pagelet_canvas_nav_content,
div#mainContainer div#contentCol div#rightCol {
    display: none !important;
}

.sidebarMode #globalContainer {
    padding: 0;
}


/* iFokus */

div#show-thread div iframe,
div#sidebar div iframe,
.ad-strip {
    display: none !important;
}


/* Familjeliv */

*[class^='adt'] {
    display: none !important;
}


/* Stack Exchange */

*[class*='adz'] {
    display: none !important;
}


/* Google Startpage */

body.default-theme.des-mat div#lga {
    margin-top: 0px;
}


/* Youtube */

*[id*='sidebar-ads'] {
    display: none !important;
}


/* Prisjakt */

div#main_content_wrapper,
#supersearch_large,
.front-page #column1,
.front-page #column1 .column2 {
    width: 100% !important;
}

#headerdiv .super_search_textbox_big {
    margin: 130px 0 0 80px !important;
}

div#ad_column,
div#ad_panorama_top,
#main_content_wrapper div.adbox,
div#newscontainer,
div#popprodbildlista,
.footer .footer-section,
.minhembio_wrapper,
#supersearch_large .title,
#supersearch_large .notice,
#supersearch_large .notice a,
#supersearch_large .feedback,
.front-page #column2 .shadow {
    display: none !important;
}


/* Fotbollskanalen */


/* w3schools */

#mainLeaderboard,
div#skyscraper,
div#stickypos,
.bottomad {
    display: none !important;
}


/* MaterializeCSS & Bootstrap */

div#carbonads,
div.carbonad {
    display: none !important;
}


/* Tradera */

.g-ad-slot-toptop-desktop,
div#google-ad-banner-top-desktop,
li#google-ad-banner-mid1-desktop,
li#google-ad-banner-mid2-desktop,
li#google-ad-banner-mid3-desktop {
    display: none !important;
}


/* Aftonbladet */

div#abOutsider,
.abPanorama,
.abAdArea,
div#abAdPlacementInsider1,
div#abAdPlacementInsider2,
div#abAdPlacementInsider3 {
    display: none !important;
}


/* scotch.io */

ins.adsbygoogle {
    display: none !important;
}


/* iFokus */

label.ad {
    display: none !important;
}


/* so-rummet.se */

*[id^='block-simpleads-ad-groups'],
*[class*='pane-simpleads-ad-groups'] {
    display: none !important;
}


/* Stryktipset */

.ongoing-matchlist .list-group-item,
.ongoing-left-container .inner-container,
.joker-panel {
    padding: 0px !important;
}

.ongoing-matchlist .bottom-info {
    font-size: 10px;
}

.desktop .wrap .main-content {
    padding-top: 44px;
}

body.wrap header#top-content {
    height: 44px;
}

.header-user-info-dropdown {
    top: -294px !important;
}

.ongoing-matchlist .right-info {
    margin-top: 0px;
}

.margin-bottom-1 {
    margin-bottom: 0px !important;
}

.align-center.btn-group-fixed-bottom-filler,
.legal-info.padding-xs-2.fc-grey-400,
div#ongoing-receipt,
i.icon-header-dynamic.icon-header-stryktipset {
    display: none !important;
}


/* Bing */

header#bing_header,
footer#pageFooter {
    display: none !important;
}


/* Google */

div#gt-ft {
    display: none !important;
}


/* SitePoint */

.ad-tag {
    display: none !important;
}


/* WorldSnooker.com */

.main-section .global-advearts {
    display: none !important;
}


/* WorldSnooker.com */

.main-section .global-advearts {
    display: none !important;
}


/* Huffingtonpost.com */

.advertisement.leaderboard_flex,
.advertisement.right_rail_flex,
div#left-rail-trending,
.js-right-rail.right-rail {
    display: none !important;
}


/* valuta.se */

*[data-google-query-id*=''],
.scyscraper_banner_placeholder_left,
.scyscraper_banner_placeholder,
#ctl00_content_ctl00_currencyRightAdd .CONTROL_WIDTH_4_FIRST,
#ctl00_SponsorSubmenuContainer,
#ctl00_content_ctl00_currencyRightAdd {
    display: none !important;
}