.ad,
.js-ad-sidebar {
  display: none !important;
}

.js-main-ad-container {
  padding-right: 0px !important;
}

article.article {
  padding-right: 120px !important;
}

header.article__head.js-article-header {
  padding: 0 30px !important;
}

.article__body,
aside.article-toolbar,
.article__body-content {
  max-width: 100% !important;
}
